@import "reset";
@import "./variables/variables";
@import "./themes/dark";
@import "./themes/light";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
}
