@import "@/shared/lib/scss/remCalc";

.container {
  background-color: #f8f8f8;
  max-height: rem-calc(700);
  border-radius: rem-calc(16);
  border: rem-calc(1) solid rgb(0 0 0 / 60%);
  box-shadow: 0 rem-calc(10) rem-calc(40) rgb(0 0 0 / 10%);
  width: rem-calc(440);
  padding: rem-calc(10);
  z-index: 2;
}
