.app.dark{
  --bg-color: #090303;
  --inverted-bg-color: #eee4e4;

  --primary-color: #ccc4c4;
  --secondary-color: #95e1f8;

  --inverted-primary-color: #312E2EFF;
  --inverted-secondary-color: #252525;
}
