@import "@/shared/lib/scss/remCalc.scss";

.container {
  padding: rem-calc(24);
  background-color: var(--dark-bg, #090F11);
  border-radius: rem-calc(32);
  color: var(--text, #DBDBDB);
  width: rem-calc(780);
  height: rem-calc(700);
}

