@import "@/shared/lib/scss/remCalc";

.container {
  padding: rem-calc(24);
  background-color: var(--dark-bg, #090f11);
  border-radius: rem-calc(32);
  color: var(--text, #dbdbdb);
  width: rem-calc(780);
  height: rem-calc(700);
}

// color: var(--text, #DBDBDB);
// /* Title */
// font-family: Roboto;
// font-size: 32px;
// font-style: normal;
// font-weight: 900;
// line-height: normal;
